body {
    background-image: url('./img/backgrounds/forest.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: contrast(0.9) grayscale(0.2) blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background-color: black;
    width: 720px;
    height: 480px;
}